@import 'variables';
@import 'colors';
@import '~rootstrap-ui/dist/styles/scss/index';
@import '~loaders.css/src/animations/ball-scale-multiple';

html {
  font-family: $font-family;
  font-style: normal;
  font-size: 10px;
}

p {
  font-size: 1.4rem;
  line-height: 2.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.2rem;
}

hr {
  border: 0.1rem solid $black;
  margin: 1.5rem 0;
}

ul {
  list-style: disc;
  // list-style-type: disc;
  // list-style-position: inside;
  text-align: left;
  margin: 3rem;
}

li {
  font-size: 1.4rem;
  line-height: 2.6rem;
  margin: 2rem 0;
  // padding: 0px;
  // padding: revert;
}

li > * {
  position: relative;
  top: -0.6rem;
  left: -1rem;
}

::marker {
  font-size: 3rem;
  margin: 0px 0px;
  color: $primary-blue;
}

.loading-wrapper {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden {
    display: none;
  }

  .loader-active {
    display: block;
  }
}

.header {
  padding: 1rem;
  text-align: center;

  &__logo {
    width: 150px;
  }
}

.input-container {
  max-width: 20rem;
  margin: 0.5rem auto 2rem;
}

input {
  border: 0.1rem solid $black;
  width: 20rem;
  height: 3.7rem;
  line-height: 1.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
}

label {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.65px;
}

.span-error {
  font-size: 1rem;
  line-height: 1.4rem;
}

.flex-container-centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.flex-container {
  display: flex;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 45rem;
}

.flex-item {
  padding: 6rem;
  flex: 1;
}

.blue-background {
  background-color: $primary-blue;
}

button {
  color: $white;
  background-color: $black;
  padding: 1.2rem;
  width: 20rem;
  text-transform: uppercase;
  letter-spacing: 0.165rem;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.iphone-6 {
  max-height: 65rem;
}

.main-layout-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-content {
  width: 100%;
}

.sidebar-content {
  width: 40%;
}
