@import '../../styles/colors.scss';

.map-container {
  height: 100vh;
}

.main-layout-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-content {
  width: 100%;
}

.sidebar-container {
  width: 40%;
  text-align: center;
}

.sidebar-content {
  // width: 40%;
  text-align: center;
  padding: 2rem 2rem;
}

.sidebar-navbar {
  overflow: hidden;
  background-color: $primary-blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 7rem;
  padding: 2rem;
}

// .sidebar-footer {
// }
