@import '../../styles/colors.scss';

.map-container {
  height: 100vh;
}

.main-layout-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 7;
}

.sidebar-container {
  flex: 3;
  overflow: auto;
}

.sidebar-content {
  width: 100%;
  flex: 1;
  text-align: center;
}

.navbar-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.7rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: auto;
}

.sidebar-footer {
  padding: 2rem 0;
}
