@import '../../styles/colors.scss';

.map-container {
  height: 100vh;
}

.main-layout-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 7;
}

.sidebar-container {
  flex: 3;
  overflow: auto;
}

.sidebar-footer {
  padding: 2rem 0;
}
