.current-location-marker {
  position: absolute;
}

.current-location-icon {
  transform: translate(14%, -30%);
}

.target-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(239, 198, 56, 0.7);
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
